<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefas</title>
    <style>
    </style>
</head>
<body>
    <h1>Tarefas</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nº</th>
                <th>Tarefa</th>
                <th>Disciplina</th>
                <th>Prioridade</th>
                <th>Entrega</th>
                <th>Estado</th>
            </tr>
        </thead>
            {% for tarefa in tarefas %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ tarefa[0] }}</td>
                <td>{{ tarefa[1] }}</td>
                <td>{{ tarefa[2] }}</td>
                <td>{{ tarefa[3] }}</td>
                <td>{{ tarefa[4] }}</td>
            </tr>
            {% endfor %}
    </table>
    <hr>
    <a href="/addtask">Adicionar um nova Tarefa</a>
</body>
</html>