<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefas</title>
    <style>
    </style>
</head>
<script>

</script>
<body>
    <h2>Novas Tarefas:</h2>
    <form>
        <label>Tarefa:</label><br>
        <input type="text" id="tarefa"><br>
        <label>Disciplina:</label><br>
        <input type="text" id="disciplina"><br>
        <label>Data de Entrega:</label><br>
        <input type="date" id="data"><br><br>
        <button id="enviar" onclick="sair">Enviar</button>
    </form>
</body>
</html>