<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novas Tarefas</title>
    <style>
        a {
            text-decoration: none;
            color:darkred;
        }
        body {
            color: darkred;
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <h2>Novas Tarefas:</h2>
    <form action="/add", method="post">
        <label>Tarefa:</label><br>
        <input type="text" name="tarefa" placeholder="Qual a Tarefa?" required><br>
        <label>Disciplina:</label><br>
        <input type="text" name="disciplina" placeholder="Qual a Disciplina?"required><br>
        <label>Data:</label><br>
        <input type="date" name="data" placeholder="data" value=datae required><br>
        <label for="prioridade">Prioridade:</label><br>
        <select name="prioridade" placeholder="Prioridade" id="prioridade" required>
            <option value="" disabled selected>Selecione a Prioridade</option>
            <option value="Alta">Alta</option>
            <option value="Média">Média</option>
            <option value="Baixa">Baixa</option>
            <option value="Opcional">Opcional</option>
        </select>
        <br><br>
        <button>Adicionar Tarefa</button>
    </form>
    <a href="/tasks">Lista de tarefas</a>
</body>
</html>