<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novas Tarefas</title>
    <style>
    </style>
</head>
<body>
    <h2>Novas Tarefas:</h2>
    <form action="/adicionar", method="post">
        <label>Tarefa:</label><br>
        <input type="text" name="tarefa" placeholder="tarefa"><br>
        <label>Disciplina:</label><br>
        <input type="text" name="disciplina" placeholder="disciplina"><br>
        <label>Data de Entrega:</label><br>
        <input type="date" name="data" placeholder="data"><br><br>
        <button id="enviar">Enviar</button>
    </form>

</body>
</html>